body {
  font-family: 'Roboto', sans-serif;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}

/* Able to add padding to ALL elements without adding to width %s */
* {
  box-sizing: border-box;
}

a {
  color: $mainOrange;
}