.generic-content-container {

    p {
        line-height: 1.65; /* don't need rem,em,px for line-height */
        margin: 1.8rem 0;

        @mixin atSmall {
            font-size: 1.125rem;
        }
    }

    p a {
        font-weight: 700;
    }

}