.generic-content-container {
    &--p-l-60 {
        padding-left: 60px;

        @mixin atMedium {
            padding-left: 80px;
        }
    }

    p {
        font-weight: 300;
        line-height: 1.65; /* don't need rem,em,px for line-height */
        margin: 0 0 1rem 0;

        @mixin atSmall {
            font-size: 1.125rem;
        }

    }

    p a {
        font-weight: 700;
    }

    p.m-left-40 {
        margin-left: 40px;
    }

}