.generic-content-container {

    p {
        font-weight: 300;
        line-height: 1.65; /* don't need rem,em,px for line-height */
        margin: 0 0 1rem 0;

        @mixin atSmall {
            font-size: 1.125rem;
        }

    }

    p a {
        font-weight: 700;
    }

}